.. class:: logoimage

.. image:: _static/brexx370.png
   :align: center
   :width: 80%


.. raw:: pdf

   Spacer 0 10mm


{% if title: %}

.. cssclass:: title

{{title}}

{% endif %}

.. cssclass:: subtitle

{{subtitle}}

.. cssclass:: author
   :align: center

{{date}}

.. raw:: pdf

   PageBreak oneColumn